version: "3.9"

services:
  stripper:
    build:
      context: ./services/stripper
      dockerfile: Dockerfile
    image: exif-stripper:dev
    environment:
      PORT: "${STRIPPER_PORT:-8080}"
    ports:
      - "${STRIPPER_HOST_PORT:-8081}:${STRIPPER_PORT:-8080}"

  webui:
    build:
      context: ./services/webui
      dockerfile: Dockerfile
    image: exif-webui:dev
    environment:
      PORT: "${WEBUI_PORT:-3000}"
      STRIPPER_URL: "http://stripper:${STRIPPER_PORT:-8080}/strip"
    ports:
      - "${WEBUI_PORT:-3000}:${WEBUI_PORT:-3000}"

  e2e-tests:
    build:
      context: ./e2e-tests
      dockerfile: Dockerfile
    image: exif-e2e-tests:dev
    environment:
      WEBUI_URL: http://webui:${WEBUI_PORT:-3000}
    restart: "no"
    depends_on:
      stripper:
        condition: service_started
      webui:
        condition: service_started
